<ion-header>
    <ion-navbar>
        <ion-title>
            <ion-icon name="cloud-upload" item-left></ion-icon> New Transaction
        </ion-title>
   </ion-navbar>
 </ion-header>

<ion-content>
    <form 
        [formGroup]="transactionForm"
        (ngSubmit)="sendTransactionVerification(transactionForm.value)">
                
        <!-- Name -->
        <ion-item text-wrap>
            <ion-label stacked>Amount (USD)</ion-label>
            <ion-input type="number" formControlName="amount" placeholder="0.00" style="font-size:6rem; text-align: center;"></ion-input>
        </ion-item>
        
        <!-- Payment Method -->
        <ion-item (click)="selectPayment()">
            <ion-icon name="arrow-forward" item-end></ion-icon>
            <ion-label>Select Payment (Pending)</ion-label>
        </ion-item>
        <!-- Place -->
        <ion-item (click)="selectPayee()">
                <ion-icon name="arrow-forward" item-end></ion-icon>
                <ion-label>Select Payee (Pending)</ion-label>
        </ion-item>

        <ion-item>
            <ion-label stacked>Payment Method</ion-label>
            <ion-select formControlName="paymentMethod">
                <ion-option *ngFor="let paymentMethod of paymentMethods" [value]="paymentMethod">{{ paymentMethod.cardNumber | maskCardNumber }}</ion-option>
            </ion-select>
        </ion-item>

        <!-- Transaction Type --> 
        <ion-item>
            <ion-label stacked>Type</ion-label>
            <ion-select formControlName="transactionType" interface="popover">
                <ion-option *ngFor="let type of (transactionTypes | enumToArray)" [value]="type">{{ type }}</ion-option>
            </ion-select>
        </ion-item>

        <!-- Transaction Type --> 
        <ion-item>
            <ion-label stacked>Memo</ion-label>
            <ion-input formControlName="memo"></ion-input>
        </ion-item>

        
        <button ion-button full color="primary" type="submit" [disabled]="!transactionForm.valid">Send</button>
    </form>
</ion-content>
