<ion-header>
    <ion-navbar>
        <ion-title>
            <ion-icon name="cloud-upload" item-left></ion-icon> New Transaction
        </ion-title>
   </ion-navbar>
 </ion-header>

<ion-content>
    <form 
        [formGroup]="transactionForm"
        (ngSubmit)="sendTransactionVerification(transactionForm.value)">
                
        <!-- Name -->
        <ion-item text-wrap>
            <ion-label stacked>Amount (USD)</ion-label>
            <ion-input type="number" formControlName="amount" placeholder="0.00" style="font-size:6rem; text-align: center;"></ion-input>
        </ion-item>
        
        <!-- Payment Method -->
        <ion-list *ngIf="paymentMethodSelected === undefined">
            <ion-list-header>
                Select Payment Method
            </ion-list-header>
            <ion-item *ngFor="let paymentMethod of paymentMethods" (click)="selectPaymentMethod(paymentMethod)">
            <ion-icon large item-start name="card"></ion-icon>
            <ion-icon name="arrow-forward" item-end></ion-icon>
            <h3>{{ paymentMethod.cardNumber | maskCardNumber }}</h3>
            <p> {{ paymentMethod.issuingNetwork }}</p>
            </ion-item>   
        </ion-list>

        <!-- Payment Method Details -->
        <ion-item *ngIf="paymentMethodSelected !== undefined" (click)="unselectPaymentMethod()">
            <ion-icon large item-start name="card"></ion-icon>
            <ion-icon name="checkmark-circle" item-end></ion-icon>
            <h3>{{ paymentMethodSelected.cardNumber | maskCardNumber }}</h3>
            <p> {{ paymentMethodSelected.issuingNetwork }}</p>
        </ion-item>

        <!-- Place List -->
        <ion-list *ngIf="myPlaceSelected === undefined">
            <ion-list-header>
                Select Payee
            </ion-list-header>
            <ion-item *ngFor="let place of myPlaces" (click)="selectPayee(place)">
                  <ion-avatar large item-start>
                      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Toronto-Dominion_Bank_logo.svg/400px-Toronto-Dominion_Bank_logo.svg.png">
                  </ion-avatar>
                  <ion-icon name="arrow-forward" item-end></ion-icon>
                  <h2>{{ place.name}}, {{ place.unit }} <!--<small><span color="secondary">(Unit/Apt#)</span></small>--></h2>
                  <h4>{{ place.address1 }}</h4>
                  <p>{{ place.city }},  {{ place.province }}, {{ place.postalCode }}</p>
                <ion-badge>{{ place.country }}</ion-badge>    
            </ion-item>
        </ion-list>

        <!-- Place Select Details -->
        <ion-item *ngIf="myPlaceSelected !== undefined" (click)="unselectPayee()">
                <ion-avatar large item-start>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Toronto-Dominion_Bank_logo.svg/400px-Toronto-Dominion_Bank_logo.svg.png">
                </ion-avatar>
                <ion-icon name="checkmark-circle" item-end></ion-icon>
                <h2>{{ myPlaceSelected.name}}, {{ myPlaceSelected.unit }} <!--<small><span color="secondary">(Unit/Apt#)</span></small>--></h2>
                <h4>{{ myPlaceSelected.address1 }}</h4>
                <p>{{ myPlaceSelected.city }},  {{ myPlaceSelected.province }}, {{ myPlaceSelected.postalCode }}</p>
              <ion-badge>{{ myPlaceSelected.country }}</ion-badge>    
        </ion-item>

        <!-- Transaction Type --> 
        <ion-item>
            <ion-label stacked>Type</ion-label>
            <ion-select formControlName="transactionType" interface="popover">
                <ion-option *ngFor="let type of (transactionTypes | enumToArray)" [value]="type">{{ type }}</ion-option>
            </ion-select>
        </ion-item>

        <!-- Transaction Type --> 
        <ion-item>
            <ion-label stacked>Memo</ion-label>
            <ion-input formControlName="memo"></ion-input>
        </ion-item>

        <!-- Payment Method Input Field Hidden -->
        <ion-item hidden>
            <ion-input formControlName="paymentMethod" [value]="paymentMethodSelected"></ion-input>
        </ion-item>
        
        <!-- Payee Input Field Hidden -->
        <ion-item hidden>
            <ion-input formControlName="place" [value]="myPlaceSelected"></ion-input>
        </ion-item>
        
        
        <button ion-button full color="primary" type="submit" [disabled]="!transactionForm.valid">Send</button>
    </form>
</ion-content>
